{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>Username: {{ user.username }}</h1>
                <h2>Email: {{ user.email }}</h2>
            </div>
            {% if app.user.facebookId is empty %}
                <div class="text-center">
                    <a href="{{ hwi_oauth_login_url('facebook') }}" class="btn btn-primary">Connect Facebook</a>
                </div>
            {% endif %}
            <div class="text-center">
                <a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
                <a href="{{ path('fos_user_change_password') }}">Change Password</a>
            </div>
        </div>
    </div>
{% endblock %}
